.wrapper {
    background-image: url("/assets/bg_hero.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.header_menu_text {
    border-radius: 12px;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 14px;
    }
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 18px;
    }
}

.header_menu_text:hover {
    text-decoration: underline;
}